button {
    cursor: pointer;
    background-color: var(--clr4);
    border: 0;
    padding: .5em;
    color: whitesmoke;
}

button:hover {
    background-color: var(--clr1);
    transition: .3s;
}

input {
    padding: .5em;
    border: none;
    background-color: var(--gray1);
}